
<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">

        <meta name="google-signin-scope" content="profile email"/>
        <meta name="google-signin-client_id" content="201957125577-blqlfuqg0ea5eriq8sgl5ntsln82b2of.apps.googleusercontent.com"/>

        <title>Aspire Assignment</title>

        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

		<link href={% static 'css/bootstrap.min.css' %} rel="stylesheet" type="text/css"/>
        <link href={% static 'css/main.css' %} rel="stylesheet" type="text/css"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
        </script>
        <script src="httpsapis.google.comjsplatform.js" async deferscript></script>

        <script>
            function start() {
              gapi.load('auth2', function() {
                auth2 = gapi.auth2.init({
                  client_id: '201957125577-blqlfuqg0ea5eriq8sgl5ntsln82b2of.apps.googleusercontent.com',
                  // Scopes to request in addition to 'profile' and 'email'
                  //scope: 'additional_scope'
                });
              });
            }
        </script>

    </head>

    <body class="img-responsive">
        <div class="container-fluid">
            <header>
                <center>
                    <img class="img-responsive logo" src="{% static 'images/download.png' %}" alt="logo"/>
                </center>
            </header>
            <section>
                <h1 class="center-header-font">Aspi.re Assignment<br><small><small>2016</small></small></h1>
                <center>
					<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                </center>
            </section>
            <footer class="navbar-fixed-bottom">
                <p class="copyright-font"> Developed by Prashant Agarwal</br>&copy;&nbsp;Copyright 2016. All Rights Reserved.</p>
            </footer>
        </div>
    <script>

      function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
          //console.log(id_token);
          window.location.href='http://localhost:8000/profilelogin/home?id='+id_token;
      };
    </script>

    </body>

</html>
