body{
    background: #dcedc8;
}

.navbar{
    border-radius: 0;
}

section{
    margin-top: 2em;
}

.profileinfo{
    margin-top: 2em;
    margin-bottom: 5em;
}

.table-sty{
    font-family: "Lucida Calligraphy";
    font-size: 1.2em;
}

.user-profile-font{
    font-size: xx-large;
    font-family: "Bauhaus 93";
    color: #1b5e20;
}

.user-profile-font-email{
    color: #1b5e20;
    font-style: italic;
}

.footer{
    background:#1b5e20;
    padding-top: .7vw;
    opacity: .5;
    margin-top: 8em;
}

.copyright-font{
    text-align: center;
    font-family: "Tekton Pro Cond";
    font-size: 15px;
    color: #dcedc8;
}

